@import "../../variables";

.gridPage-div {
    margin: 20px 30px;
    text-align: center;
}

.grid-div {
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;

    @include breakpoint(xl) {
        grid-template-columns: calc(180px + 10vw) calc(180px + 10vw) calc(180px + 10vw);
    }

    @include breakpoint(lg) {
        grid-template-columns: calc(240px + 10vw) calc(240px + 10vw);
    }

    @include breakpoint(sm) {
        grid-template-columns: 320px;
    }
}

.element-grid-div {
    max-width: 300px;
    width: calc(170px + 10vw);
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 10px;
    border-radius: 25px;
    font-size: calc(var(--index) * .75);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.147);

    @include breakpoint(xl) {
        width: calc(170px + 10vw);
    }

    @include breakpoint(lg) {
        width: calc(220px + 10vw);
    }

    @include breakpoint(sm) {
        width: 300px;
    }
}