@import "../../variables";

.cardPage {
    margin: 30px auto;
}

.card {
    width: 800px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.147);
    margin: 10vh auto 0;
    display: flex;
    flex-direction: row;

    @include breakpoint(xl) {
        max-width: 820px;
        width: calc(450px + 50vh);
    }

    @include breakpoint(lg) {
        min-width: 270px;
        width: calc(250px + 50vh);
    }

    @include breakpoint(sm) {
        max-width: 300px;
        width: 100%;
        flex-direction: column;
    }

    &-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-right {
        margin: 20px;
    }

    &-describe {
        font-weight: 300;
        font-size: calc(10px + 1vmin);
    }

    &-second {
        max-width: 820px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px auto 0;
        padding: 25px;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.147);
        border-radius: 25px;

        @include breakpoint(lg) {
            min-width: 270px;
            width: calc(250px + 50vh);
            padding: 15px;
        }

        @include breakpoint(sm) {
            max-width: 300px;
            width: 100%;
            padding: 25px 10px;
            flex-direction: column;
        }
    }

    &-second-grid {
        max-width: 720px;
        width: 100%;
        display: grid;
        padding: 25px;
        grid-template-columns: 226px 226px 226px;
        gap: 20px;

        @include breakpoint(lg) {
            justify-content: center;
            grid-template-columns: 226px 226px;
        }

        @include breakpoint(sm) {
            max-width: 300px;
            grid-template-columns: 226px;
        }
    }

    &-mini {
        width: 176px;
        height: 80px;
        padding: 25px;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.147);
    }
}

.characters-img {
    margin: 10px 10px 20px;
    max-width: 280px;
    max-height: 280px;
    width: calc(150px + 10vw);
    height: calc(150px + 10vw);
    border-radius: 25px;

    @include breakpoint(lg) {
        width: calc(200px + 10vw);
        height: calc(200px + 10vw);
    }

    @include breakpoint(sm) {
        width: 280px;
        height: 280px;
    }
}