@import "../../variables";

.cardPage {
    margin: 30px auto;
}

.card {
    width: 800px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.147);
    margin: 10vh auto 0;
    display: flex;
    flex-direction: row;

    @include breakpoint(xl) {
        width: calc(450px + 50vh);
    }

    @include breakpoint(lg) {
        min-width: 270px;
        width: calc(250px + 50vh);
    }

    @include breakpoint(sm) {
        max-width: 300px;
        width: 100%;
        flex-direction: column;
    }

    &-right {
        margin: 20px;
    }

    &-describe {
        font-weight: 300;
        font-size: calc(10px + 1vmin);
    }
}